.frontBox
  .ct
    %h2.frontBox_title All Boards
    %ul.frontBox_boardsContents
      -#記事一覧
      - @boards.each do |board|
        %li.frontBox_boardsContents_list.flex.al-ce
          = link_to board_path(board), class: "frontBox_boardsContents_list_link"  do
            .frontBox_boardsContents_list_inner
              %p.frontBox_boardsContents_list_title 
                = board.name
              %p.frontBox_boardsContents_list_text  
                = board.description
              .frontBox_boardsContents_list_iconBox
                = image_tag 'Oval.png' 
    -# 記事作成
    = link_to new_board_path, class: "frontBox_AddNewBox flex-ce " do
      + Add new borad