.showBox
  .ct.showBox_ct
    -# メニュー
    - if user_signed_in? && current_user.has_written?(@board)
      .showBox_menuBtn
        .showBox_menuBtn_btnIcon.flex.al-ce.spa-be
          %span
          %span
          %span
        .showBox_menuBtn_select
          = link_to edit_board_path, class: "showBox_menuBtn_select_text" do
            Edit
          = link_to board_path, data: { method: 'delete' }, class: "showBox_menuBtn_select_text" do
            Delete
    -# title
    %h2.showBox_title
      = @board.name
    -# img
    .showBox_imgBox 
      = image_tag 'Photo.png'
    -# テキスト
    .showBox_content
      %p.showBox_content_text
        = @board.description
    -# tasks
    .showBox_CommentsBox 
      %h3.showBox_CommentsBox_title Tasks
      %ul.showBox_CommentsBox_contents
        -# task一覧
        - @tasks.each do |task|
          %li.showBox_CommentsBox_contents_list
            -# メニュー
            -# - if user_signed_in? && current_user.has_written_task?(task)
            .showBox_CommentsBox_contents_list_menuBtn
              .showBox_CommentsBox_contents_list_menuBtn_btnIcon.flex.al-ce.spa-be
                %span
                %span
                %span
              .showBox_menuBtn_select
                = link_to edit_board_task_path(@board,task), class: "showBox_menuBtn_select_text" do
                  Edit
                = link_to board_task_path(@board,task), data: { method: 'delete' }, class: "showBox_menuBtn_select_text" do
                  Delete
            %h3.showBox_CommentsBox_contents_list_title
              = task.title
            %p.showBox_CommentsBox_contents_list_text
              = task.content
            %p.showBox_CommentsBox_contents_list_text
              = task.deadline
            .showBox_CommentsBox_contents_list_img
              = image_tag 'Oval.png'
            -# コメント
            .showBox_CommentsBox.bg-white
              %h3.showBox_CommentsBox_title Comment
              %ul.showBox_CommentsBox_contents
                -# list
                - task.comments.each do |comment|
                  - if comment.task_id == task.id
                    %li.showBox_CommentsBox_contents_list.flex.al-ce
                      .showBox_CommentsBox_contents_list_img
                        = image_tag 'Oval.png'
                      %p.showBox_CommentsBox_contents_list_text.non
                        = comment.content
              = link_to new_board_task_comment_path(@board,task), class: "showBox_AddNewBox flex-ce" do
                + Add new Comment
    -# 記事作成
    -# リンクをコメント作成に変える。
    = link_to new_board_task_path(@board), class: "showBox_AddNewBox flex-ce" do
      + Add new Task