!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ToDoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .ct
        .header.flex.spa-be.al-ce
          = link_to root_path, class:"header_link" do
            Boards
          .iconBox
            .iconBox_imgBox
              = image_tag 'Oval.png'
            .iconBox_menuBox.flex-ce
              .flex.al-st.column
                - if user_signed_in?
                  %a プロフィール
                  %a 登録リスト
                  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }, class: ''
                - else
                  = link_to 'ログイン', new_user_session_path, class: ''
          - if flash.present?
            .flash
              - flash.each do |key, value|
                %div{:class => key}
                  = value
    = yield
    %footer.footer
